@import "~bootstrap/dist/css/bootstrap.css";

html,body {
     height:100%;
     margin: 0;
     padding: 0;

}
form{
    align-items: center;
    background-color: rgba(80, 76, 79, 0.336);
}
#login{
    align-items: right;
}
* {
    box-sizing: border-box;
    padding: 0;
    
}
img {
    display:block;
    height: 100%;
    width: 100%;
    align-items: center; 
}


i{
    justify-self: unsave;
}